@font-face {
    font-family: "PT Sans Narrow";
    font-size: normal;
    font-weight: 400;
    src: url("fonts/PTSansNarrow-Regular.ttf") format("ttf");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans Narrow";
    font-size: normal;
    font-weight: 700;
    src: url("fonts/PTSansNarrow-Bold.ttf") format("ttf");
    font-display: swap;
}

body {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #FBF7F4;
    color: #242424;
}

.page-header {
    background-color: #000000;
    color: #FFFFFF;
}

.navigation-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
}

.main-index {
    color: #FFFFFF;
    background-color: #000000;
    background-image: url("/barbershop/images/interior.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.advantages-list {
    text-align: center;
}

.advantages-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
}

.index-columns {
    background-color: #FBF7F4;
    color: #242424;
}

.services-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
}

.services-name {
    
}